<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  采用cdn分发技术  -->
    <!--jquery的网络链接-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <!--bootstrap   css / js 的网络链接-->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
    <!--font-awesome图标字体的网络链接-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.3/echarts.js"></script>
</head>


<body style="background:url(backgroundPic.jpg)">
<br/>
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <div class="panel panel-primary">
            <!--&nbsp 空格 -->
            <div class="panel-heading"><center><h3>登&nbsp;录</h3></center></div>
            <div class="panel-body">
                <div id="main" style="width: 600px;height:400px;"></div>



                <script type="text/javascript">
                    option = {
                        legend: {
                            top: 'bottom'
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: { show: true },
                                dataView: { show: true, readOnly: false },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        series: [
                            {
                                name: 'Nightingale Chart',
                                type: 'pie',
                                radius: [50, 250],
                                center: ['50%', '50%'],
                                roseType: 'area',
                                itemStyle: {
                                    borderRadius: 8
                                },
                                data: [
                                    { value: 40, name: 'rose 1' },
                                    { value: 38, name: 'rose 2' },
                                    { value: 32, name: 'rose 3' },
                                    { value: 30, name: 'rose 4' },
                                    { value: 28, name: 'rose 5' },
                                    { value: 26, name: 'rose 6' },
                                    { value: 22, name: 'rose 7' },
                                    { value: 18, name: 'rose 8' }
                                ]
                            }
                        ]
                    };
                </script>



            </div>


        </div>
    </div>
</div>
</body>
</html>