<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vincent.mapper.CategoryMapper">

  <!--mysql-->
  <!--查询所有的种类-->
<!--  <select id="selectAll" resultType="com.vincent.category.pojo.Category">-->
<!--    select * from Category-->
<!--  </select>-->

  <!--添加一个category-->



<!--gauss-->
  <!--查询所有的种类-->
  <select id="selectAll" resultType="com.vincent.category.pojo.Category">
    select * from sys.Category
  </select>



</mapper>