<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vincent.common.mapper.commonMapper">

    <!-- 查询所有记录：根据传入的表名动态查询 -->
    <select id="selectAll" parameterType="java.lang.String" resultType="com.vincent.common.pojo.Common">
        select * from ${table_name}
    </select>

    <!-- 根据ID查询单条记录：动态表名和主键列 -->
    <select id="getOneById" parameterType="com.vincent.common.pojo.CommOpper"
            resultType="com.vincent.common.pojo.Common">
        select * from ${tableName} where ${idColumnName} = #{id,jdbcType=INTEGER}
    </select>

    <!-- 删除记录：动态表名和主键列 -->
    <delete id="delete" parameterType="com.vincent.common.pojo.CommOpper">
        delete from ${tableName} where ${idColumnName} = #{id,jdbcType=INTEGER}
    </delete>

    <!-- 更新记录：根据不同的表更新对应字段 -->
    <update id="update" parameterType="com.vincent.common.pojo.CommOpper">
        update ${tableName}
        <set>
            <!-- 用户表 update (表名：users) -->
            <if test="tableName == 'users'">
                <if test="maps.username != null">
                    username = #{maps.username,jdbcType=VARCHAR},
                </if>
                <if test="maps.password != null">
                    password = #{maps.password,jdbcType=VARCHAR},
                </if>
                <if test="maps.role != null">
                    role = #{maps.role,jdbcType=VARCHAR},
                </if>
                <if test="maps.gender != null">
                    gender = #{maps.gender,jdbcType=VARCHAR},
                </if>
                <if test="maps.idCard != null">
                    id_card = #{maps.idCard,jdbcType=VARCHAR},
                </if>
                <if test="maps.address != null">
                    address = #{maps.address,jdbcType=VARCHAR},
                </if>
                <if test="maps.createDate != null">
                    create_date = #{maps.createDate,jdbcType=VARCHAR},
                </if>
            </if>
            <!-- 农作物表 update (表名：crops) -->
            <if test="tableName == 'crops'">
                <if test="maps.userid != null and maps.userid != 0">
                    userid = #{maps.userid,jdbcType=INTEGER},
                </if>
                <if test="maps.greenhouseName != null">
                    greenhouse_name = #{maps.greenhouseName,jdbcType=VARCHAR},
                </if>
                <if test="maps.cropName != null">
                    crop_name = #{maps.cropName,jdbcType=VARCHAR},
                </if>
                <if test="maps.plantingDate != null">
                    planting_date = #{maps.plantingDate,jdbcType=VARCHAR},
                </if>
                <if test="maps.growthCycle != null">
                    growth_cycle = #{maps.growthCycle,jdbcType=VARCHAR},
                </if>
                <if test="maps.estimatedHarvestDate != null">
                    estimated_harvest_date = #{maps.estimatedHarvestDate,jdbcType=VARCHAR},
                </if>
                <if test="maps.cropStatus != null">
                    status = #{maps.cropStatus,jdbcType=VARCHAR},
                </if>
            </if>
            <!-- 环境数据表 update (表名：environment_data) -->
            <if test="tableName == 'environment_data'">
                <if test="maps.greenhouseName != null">
                    greenhouse_name = #{maps.greenhouseName,jdbcType=VARCHAR},
                </if>
                <if test="maps.recordDate != null">
                    record_date = #{maps.recordDate,jdbcType=VARCHAR},
                </if>
                <if test="maps.temperature != null">
                    temperature = #{maps.temperature,jdbcType=FLOAT},
                </if>
                <if test="maps.humidity != null">
                    humidity = #{maps.humidity,jdbcType=FLOAT},
                </if>
                <if test="maps.soilMoisture != null">
                    soil_moisture = #{maps.soilMoisture,jdbcType=FLOAT},
                </if>
                <if test="maps.lightIntensity != null">
                    light_intensity = #{maps.lightIntensity,jdbcType=FLOAT},
                </if>
            </if>
            <!-- 任务管理表 update (表名：tasks) -->
            <if test="tableName == 'tasks'">
                <if test="maps.taskContent != null">
                    task_content = #{maps.taskContent,jdbcType=VARCHAR},
                </if>
                <if test="maps.assignedTo != null and maps.assignedTo != 0">
                    assigned_to = #{maps.assignedTo,jdbcType=INTEGER},
                </if>
                <if test="maps.taskStatus != null">
                    task_status = #{maps.taskStatus,jdbcType=VARCHAR},
                </if>
                <if test="maps.startDate != null">
                    start_date = #{maps.startDate,jdbcType=VARCHAR},
                </if>
                <if test="maps.completionDate != null">
                    completion_date = #{maps.completionDate,jdbcType=VARCHAR},
                </if>
            </if>
        </set>
        where ${idColumnName} = #{id,jdbcType=INTEGER}
    </update>

    <!-- 插入记录：根据不同表插入对应字段 -->
    <insert id="add" parameterType="com.vincent.common.pojo.CommOpper">
        <choose>
            <!-- 用户表 insert -->
            <when test="tableName == 'users'">
                insert into users (username, password, role, gender, id_card, address, create_date)
                values (
                #{maps.username,jdbcType=VARCHAR},
                #{maps.password,jdbcType=VARCHAR},
                #{maps.role,jdbcType=VARCHAR},
                #{maps.gender,jdbcType=VARCHAR},
                #{maps.idCard,jdbcType=VARCHAR},
                #{maps.address,jdbcType=VARCHAR},
                #{maps.createDate,jdbcType=VARCHAR}
                )
            </when>
            <!-- 农作物表 insert -->
            <when test="tableName == 'crops'">
                insert into crops (userid, greenhouse_name, crop_name, planting_date, growth_cycle, estimated_harvest_date, status)
                values (
                #{maps.userid,jdbcType=INTEGER},
                #{maps.greenhouseName,jdbcType=VARCHAR},
                #{maps.cropName,jdbcType=VARCHAR},
                #{maps.plantingDate,jdbcType=VARCHAR},
                #{maps.growthCycle,jdbcType=VARCHAR},
                #{maps.estimatedHarvestDate,jdbcType=VARCHAR},
                #{maps.cropStatus,jdbcType=VARCHAR}
                )
            </when>
            <!-- 环境数据表 insert -->
            <when test="tableName == 'environment_data'">
                insert into environment_data (greenhouse_name, record_date, temperature, humidity, soil_moisture, light_intensity)
                values (
                #{maps.greenhouseName,jdbcType=VARCHAR},
                #{maps.recordDate,jdbcType=VARCHAR},
                #{maps.temperature,jdbcType=FLOAT},
                #{maps.humidity,jdbcType=FLOAT},
                #{maps.soilMoisture,jdbcType=FLOAT},
                #{maps.lightIntensity,jdbcType=FLOAT}
                )
            </when>
            <!-- 任务管理表 insert (默认) -->
            <otherwise>
                insert into tasks (task_content, assigned_to, task_status, start_date, completion_date)
                values (
                #{maps.taskContent,jdbcType=VARCHAR},
                #{maps.assignedTo,jdbcType=INTEGER},
                #{maps.taskStatus,jdbcType=VARCHAR},
                #{maps.startDate,jdbcType=VARCHAR},
                #{maps.completionDate,jdbcType=VARCHAR}
                )
            </otherwise>
        </choose>
    </insert>

</mapper>
