<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vincent.systemAnalyse.mapper.myTempSystemMapper">

    <!--mysql-->
    <!--    insert into mytemp_system values(#{myTime},#{myValue})-->
    <!--批量插入数据-->
<!--    <insert id="insertSystemData" parameterType="java.util.List">-->
<!--        insert into mytmp_system values-->
<!--        <foreach collection="mysystems" item="item" separator=",">-->
<!--            (#{item.myvalue},#{item.mytime})-->
<!--        </foreach>-->
<!--    </insert>-->

    <!--groupName 可能是hour，可能是day-->
<!--    <select id="analyseData" parameterType="com.vincent.systemAnalyse.pojo.MyAnalyseOption"-->
<!--            resultType="com.vincent.systemAnalyse.pojo.SystemResult">-->
<!--        select ${group_name}(mytime) name,${group_fun}(myvalue) value-->
<!--        from mytmp_system-->
<!--        group by ${group_name}(mytime)-->
<!--    </select>-->

    <!--这是个临时表，需要删除数据，下次就是分析到下一个数据-->
<!--    <delete id="deleteSystemData">-->
<!--        delete-->
<!--        from mytmp_system;-->
<!--    </delete>-->


    <!--gauss-->
    <!--批量插入数据-->
    <insert id="insertSystemData" parameterType="java.util.List">
        insert into sys.mytmp_system values
        <foreach collection="mysystems" item="item" separator=",">
            <!--先保存下-->
            <!--(#{item.myvalue},#{item.mytime})-->
            (${item.myvalue},${item.mytime})
        </foreach>
    </insert>

    <!--attention this sql sentence-->
    <!--groupName 可能是hour，可能是day-->
    <select id="analyseData" parameterType="com.vincent.systemAnalyse.pojo.MyAnalyseOption" resultType="com.vincent.systemAnalyse.pojo.SystemResult">
        select extract (${group_name} from mytime) name,${group_fun}(myvalue) value
        from sys.mytmp_system
        group by extract (${group_name} from mytime)
    </select>

    <!--这是个临时表，需要删除数据，下次就是分析到下一个数据-->
    <delete id="deleteSystemData">
        delete
        from sys.mytmp_system
    </delete>

</mapper>