<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.3/echarts.js"></script>
    <style>
        /* 定制样式，确保所有 <select> 元素有相同的宽度和更大的尺寸 */
        .panel-body .form-control {
            min-width: 200px; /* 设置最小宽度 */
            font-size: 16px; /* 字体大小，适当调整以满足您的需求 */
            height: auto; /* 让高度自动根据内容和padding调整 */
            padding: 10px; /* 增加padding使选择框更大 */
        }
        /* 添加对齐样式 */
        .panel-body > div {
            text-align: center; /* 水平居中对齐 */
        }
    </style>
</head>
<body th:style="'background:url(/images/bk.png)'">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><center><h2>基于GaussDB的基础信息监控</h2></center></div>
                <div class="panel-body">
                    <div class="col-sm-6">
                    <br/>
                    <br/>


                    <select name="info" id="myinfo"  class="form-control">
                        <option value="cpu的用户用率">cpu的用户用率</option>
                        <option value="cpu的系统使用率">cpu的系统使用率</option>
                        <option value="cpu的空闲使用率">cpu的空闲使用率</option>
                        <option value="服务器总内存">服务器总内存</option>
                        <option value="服务器已用内存">服务器已用内存</option>
                        <option value="服务器磁盘使用率">服务器磁盘使用率</option>
                    </select>

                    <br/>
                    <br/>
                    <select name="group_name" id="mygroupname"  class="form-control">
                        <option value="hour">小时</option>
                        <option value="minute">分钟</option>
                    </select>
                    <br/>
                    <br/>
                    <select name="group_fun" id="mygroupfun"  class="form-control">
                        <option value="max">最大值</option>
                        <option value="min">最小值</option>
                        <option value="count">统计个数</option>
                        <option value="sum">统计和值</option>
                        <option value="avg">统计平均数</option>
                    </select>
                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-3">
                            <button type="button"  onclick="change_pic()" class="btn btn-success btn-lg">统计</button>
                        </div>

                    </div>

                    </div>
                    <div class="col-sm-6">
                        <div id="main" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function change_pic(){
            $.get("http://localhost:8080/analyse/read_file_result?info="
                +$("#myinfo").val()+"&group_name="+$("#mygroupname").val()+"&group_fun="
                +$("#mygroupfun").val(),(response)=>{
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));
                //调用ajax加载数据
                console.log(response[0])
                //response[0]只输出一个中括号,eval把response数据转换成每一个数据
                //数据myres可以直接放在echarts中的data中
                myres=eval(response)
                //改造一个echarts中的names
                //可以放在legend里面的data
                names=[]
               /* myresult=JSON.parse(myres)*/
                for(i=0;i<myres.length;i++){
                    //前端往数据中加入数据push
                    names.push(myres[i].name)
                }
                // 指定图表的配置项和数据
                option = {
                    title: {
                        text: '',
                        subtext: '',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        left: 'left',
                        top: 'bottom',
                        data:
                        //换成请求数据的name
                           names
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: { show: true },
                            dataView: { show: true, readOnly: false },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    series: [
                        {
                            name: 'Radius Mode',
                            type: 'pie',
                            radius: [20, 140],
                            center: ['25%', '50%'],
                            roseType: 'radius',
                            itemStyle: {
                                borderRadius: 5
                            },
                            label: {
                                show: false
                            },
                            emphasis: {
                                label: {
                                    show: true
                                }
                            },
                            data:
                            //换成请求回来的数据，ajax请求的数据全部显示在这里
                               myres
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);

            })

        }

    </script>
</body>
</html>